/*style for desktop view (need to make it mobile responsive later)*/

.container {
	margin-top: 8%;
}

.thp {
	padding-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	color: black;
}

.contact {
	margin-left: 2em;
	margin-right: 2em;
	color: black;
}

a {
	color: black;
}

.requirements {
	margin-left: 2em;
	margin-right: 2em;
	color: black;
}

.indent {
	margin-left: 2em;
}